.accessible-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 420px;
  background-color: #404348;
  border-radius: 25px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
  padding: 0 15px;
  height: 50px;
}

.accessible-checkbox {
  position: relative;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #20252a;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;

  > input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
  }

  &:focus-within {
    box-shadow: 0 0 0 1px #FFF;
  }

  > img {
    width: 12px;
    display: block;
    transition: 0.2s opacity ease-in-out;
  }
}